$color1: #323031;
$color2: #177E89;
$color3: #084C61;
$color4: #FFC857;
$color5: #DB3A34;
//$$home-bg: url();

$pointer: url(../img/cursor-hover.png) 15 20, pointer;
$pointer2: url(../img/cursor-hover2.png) 15 20, pointer;
$cursor: url(../img/cursor.png) 15 20, pointer;
