$color1: #312f30;
$color2: #127688;
$color3: #217e88;
$color4: #ffc757;
$color5: #DB3A34;
$color6: #b7b4b9;
$color7: #222121;
$color8: #0c6379;
$phWidth: 500px;



//$$home-bg: url();

$pointer: url(../img/cursor-hover.png) 15 20, pointer;
$pointer2: url(../img/cursor-hover2.png) 15 20, pointer;
$cursor: url(../img/cursor.png) 15 20, pointer;
