.about {
  padding: 10px;
  .aboutClosed {
    font-family: 'Bungee', cursive;
    color: $color1;
  }
}
.activeAbout {
  overflow-y: auto;
  background-color: $color2;
  &:hover {
    background-color: $color2;
  }
}
.aboutCard {
  
  padding-left: 5%;
  padding-right: 5%;
  hr {
    margin-bottom: 10px;
  }
  h6 {
    font-size: 14pt;
    text-transform: uppercase;
    @media screen and (max-width: 500px) {
      font-size: 10pt;
    }
  }
  p{
    font-size: 12pt;
    @media screen and (max-width: 500px) {
      font-size: 10pt;
    }
  }
  img {
    width: 100%;
    filter: 
      drop-shadow(0px -1px 0px white)
      drop-shadow(0px -1px 0px white);
    border-radius: 25px;
  }
  .col-md-6 {
    background-color: $color3;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 1px 1px 5px $color1;
    p {
      text-align: justify;
    }
  }

  .col-md {
    padding-top: 10px;
    .contact {
      width: 30%;
      float: right;
    }
    .blurb {
      p{
        text-align: justify;
      }
    }
  }
}