.header {
  width: 75%;
  p{
    font-size: 14pt;
    margin-left: 0px;
    color: $color6;
  }
  h1{
    font-family: 'Bungee', cursive;
    color: $color4;
    margin-bottom: 0;
    &:hover {
      cursor: $pointer2;
    }
  }
}
