@import '_config';
@import 'navbar';
@import 'about';
@import 'header';
html {
  cursor: $cursor;
}

body {
  user-select: none;
  background-color: $color1;
}

.headNav {
  position: absolute;
  top: 15vh;
  left: 20vw;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;

}
