@import '_config';
@import 'navbar';
@import 'header';
html {
  cursor: $cursor;
}

body {
  user-select: none;
  background-color: $color1;
}

.headNav {
  margin-top: 20vh;
  margin-left: 5vw;
  width: fit-content;
}
