.navBar {
  width: fit-content;
}
.navBtnClip {
  width: 50px;
  height: 40px;
  margin: 5px;
  background-color: $color2;
  text-align: center;
  box-shadow: 1px 1px 5px $color7;
  clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0, 50% 25%);
  transition: background-color .2s, clip-path .2s, width .2s, height .2s;

  hr {
    background-color: $color1;
    margin: 0 auto;
    display: block;
    width: 80%;
  }

  h1 {
    font-family: 'Bungee', cursive;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    @media screen and (max-width: $phWidth) {
      font-size: 18pt;
    }

  }

  h1:hover {
    color: $color4;
    cursor: $cursor;
  }

}

.navBtnClip.project {
  position: absolute;
  top: 0px;
  left: 80px;
  padding: 10px;;
  transition: margin-left .5s;
  .projClosed {
    font-family: 'Bungee', cursive;
    color: $color1;
  }

  .projOpen {
    overflow-y: auto;
    padding: 2%;
  }
  .proj-card {
    margin: auto;
    width: 98%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: $color3;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 1px 1px 5px $color1;
  }

  h5 {
    margin: 2px;
    margin-top: 10px;
    font-size: 18pt;
    @media screen and (max-width: $phWidth) {
      font-size: 12pt;
    }
  }

  p {
    font-size: 10pt;
    margin-bottom: 4px;
  }

  img {
    width: 70%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 1px 1px 3px $color1;
    box-shadow: 1px 1px 5px $color1;
    @media screen and (max-width: $phWidth) {
      width: 90%;
    }
  }

  .ghLogo {
    filter: brightness(60%) hue-rotate(9deg) grayscale(60%);
    margin: 3px;
    cursor: $pointer;
  }

  .gameLink {
    filter: brightness(60%) hue-rotate(9deg) grayscale(60%);
    margin: 3px;
    cursor: $pointer;
  }
}


.navBtnClip.about {
  position: absolute;
  top: 0px;
  margin-left: 145px;
  transition: margin-left .5s;
}

.navBtnClip:hover {
  clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0, 50% 0%);
  background-color: $color8;
  cursor: $pointer2;
  transition: background-color .2s, clip-path .2s;
}

.navBtnClip:active {
  background-color: $color8;
  cursor: $cursor;
}

.activeProject h1{
  top: 10vh;
}

.navBtnClip.activeProject {
  overflow-y: auto;
  z-index: 2;
  width: 60vw;
  height: 65vh;
  margin-left: -80px;
  clip-path: polygon(100% 0, 100% 96%, 50% 100%, 0 96%, 0 0, 50% 0%);
  transition: width .2s, height .2s, background-color .2s, margin-left .5s;
  @media screen and (max-width: 500px) {
    width:80vw;
    margin-left:-115px;
  }
}

.navBtnClip.activeProject:hover {
  clip-path: polygon(100% 0, 100% 96%, 50% 100%, 0 96%, 0 0, 50% 0%);
  background-color: $color2;
  transition: width .2s, height .2s, background-color .2s;

}

.navBtnClip.activeAbout {
  z-index: 2;
  width: 60vw;
  height: 65vh;
  margin-left: 0px;
  clip-path: polygon(100% 0, 100% 96%, 50% 100%, 0 96%, 0 0, 50% 0%);
  @media screen and (max-width: 500px) {
    width:80vw;
    height: 65vh;
    margin-left: -40px;
  }
}

.navBtnClip.activeAbout:hover {
  clip-path: polygon(100% 0, 100% 96%, 50% 100%, 0 96%, 0 0, 50% 0%);
  transition: width .2s, height .2s, background-color .2s;
}

a {
  color: $color2;
  transition: color .2s;
}

a:hover {
  color: $color8;
  transition: color .2s;
  cursor: $cursor;
}

.github {
  position: absolute;
  left: 25px;
  top: 10px;
}

.linkedin {
  position: absolute;
  left: 55px;
  top: 10px;
  img {
    width: 20px;
    transition: filter .2s;
  }
  img:hover {
    filter: brightness(60%) hue-rotate(9deg) contrast(110%);
    transition: filter .2s;
  }
}


